.tile {
	display: block;
	border: 1px solid #2929ad;
	border-radius: 1rem;
	height: 20rem;
	width: 15rem;
}
.titulo{
	font-weight: bold;
	font-size: large;
	padding: 0.45rem 0 0 4rem;
	display: flex;
	justify-content: space-between;
}
.titulo div:nth-child(1){
	height: 28px;
    overflow: hidden;
}
.ident-ext{
	margin-right: 2rem;
	cursor: pointer;
}
.cont-image{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.imagen{
	display: flex;
    justify-content: center;
    margin: 0;
}
.face{
	backface-visibility: hidden;
    transition: .5s;
}
.front1{
	transform: perspective(600px) rotateY(0deg);
	position: absolute;
}
.back1{
	transform: perspective(600px) rotateY(180deg);
	
}
.front2{
	transform: perspective(600px) rotateY(180deg);
	position: absolute;
}
.back2{
	transform: perspective(600px) rotateY(360);
	
}
/* .card:hover .front {
	transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
	transform: perspective(600px) rotateY(360deg);
} */
.tile:hover{
	box-shadow: 1px 10px 17px 1px rgba(255,59,59,0.67);
}
.silhouette {
	height: 100px;
	width: 100%;
	object-fit: cover;
	cursor: pointer;
	margin-bottom:24px;
    margin-top:12px;
}
.contenedor-info{
    width: 80%;
	font-weight: bold;
	font-size: small;
	margin-bottom: 8px;
}
.contenedor-info p{
    display: flex;
    justify-content: space-between;
}
.contenedor-mov{
    width: 95%;
	font-weight: bold;
	font-size: small;
}
.contenedor-mov p{
    display: flex;
    justify-content: space-between;
	margin-bottom: 2px;
}
.contenedor-mov p span{
	cursor: pointer;
}
.contenedor-mov p span:hover{
	text-decoration: underline;
}
.cont-trivia{
	margin-top: 40px;
    margin-right: 27px
}
.trivia{
	/* -webkit-filter: grayscale(100%) brightness(0); */
 	filter: grayscale(100%) brightness(0);
  	opacity: 0.6;
	width: 76%;
	object-fit: cover;
	cursor: pointer;
	
}
.trivia-show{
	transition: opacity 1s;
	opacity: 1;
	width: 76%;
	object-fit: cover;
	cursor: pointer;
}
.oculto{
	visibility: hidden;
}
.vibrador{
	animation: vibrar 0.5s infinite linear;
	
}

@keyframes vibrar {
	25%{
		transform:rotateY(30deg);
	}
	50%{
		transform:rotateY(0deg);
	}
	75%{
		transform:rotateY(-30deg);
	}
	100%{
		transform:rotateY(0deg);
	}
}