.tile {
	display: block;
	border: 1px solid #2929ad;
	border-radius: 1rem;
	height: 20rem;
	width: 15rem;
}
.titulo{
	font-weight: bold;
	font-size: large;
	padding: 0.45rem 0 0 4rem;
	display: flex;
	justify-content: space-between;
}
.ident-ext{
	margin-right: 2rem;
}
.cont-image{
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}
.face{
	backface-visibility: hidden;
    transition: .5s;
}
.front{
	transform: perspective(600px) rotateY(0deg);
	
}
.back{
	transform: perspective(600px) rotateY(180deg);
	position: absolute;
}
.card:hover .front {
	transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
	transform: perspective(600px) rotateY(360deg);
}
.tile:hover{
	box-shadow: 1px 10px 17px 1px rgba(255,59,59,0.67);
}
.silhouette {
	height: 140px;
	width: 100%;
	object-fit: cover;
}
.contenedor-info{
    width: 80%;
	font-weight: bold;
	font-size: small;
	margin-bottom: 8px;
}
.contenedor-info p{
    display: flex;
    justify-content: space-between;
}
.contenedor-mov{
    width: 95%;
	font-weight: bold;
	font-size: small;
}
.contenedor-mov p{
    display: flex;
    justify-content: space-between;
}