/* :host {
	--sds-c-card-color-background: linear-gradient(180deg, rgba(255,255,255,1) 80%, #7d8cee 100%);
} */
.tile {
	display: block;
	border: 1px solid #2929ad;
	border-radius: 1rem;
	/* background-color: #8c93ea; */
	height: 20rem;
	
	
}
.titulo{
	font-weight: bold;
	font-size: large;
	padding: 0.45rem 0 0 4rem;
}
.cont-image{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.tile:hover{
	/* background-color: rgba(65, 148, 249, 1); */
	transform: translateY(-3%);
}

.silhouette {
	height: 140px;
	width: 100%;
	object-fit: cover;
}