.contenedor{
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
    justify-items: center;
}
.cont-check{
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly;
    align-items: center; */
}
.contador{
    font-size: medium;
    margin-bottom: 46px;
}
.filtros{
    padding: 0 0 28px 0;
}