.contenedor{
    display: grid;
    gap: 1rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
}
.cont-check{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.filtros{
    padding: 20px 0;
}
